{% extends "base.html" %}

{% block announce %}
  <!-- Add announcement here, including arbitrary HTML -->
  
  [![Linkedin Badge](https://img.shields.io/badge/-Opeyemi_On_LinkedIn-blue?style=flat-square&logo=Linkedin&logoColor=white&link=https://www.linkedin.com/in/opeyemi-okuboyejo/)](https://www.linkedin.com/in/opeyemi-okuboyejo/)
[![Gmail Badge](https://img.shields.io/badge/-Gmail-c14438?style=flat-square&logo=Gmail&logoColor=white&link=mailto:okuboyejoopeyemi01@gmail.com)](mailto:okuboyejoopeyemi01@gmail.com) 

  <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=66d5a2ea2d491c00194a1d61&product=sticky-share-buttons&source=platform" async="async"></script>
  
  <!-- ShareThis Sticky Social Buttons BEGIN -->
   <div class="sharethis-sticky-share-buttons"></div>
  <!-- ShareThis END -->

  <a href="https://opeyemitech.pro"><img src="https://readme-typing-svg.demolab.com?font=roboto&duration=3000&pause=500&width=435&lines=Welcome+to+my+Project+Portfolio+" alt="Typing SVG" /></a>
  {% endblock %}

