{% extends "base.html" %}

{% block announce %}
  <!-- Add announcement here, including arbitrary HTML -->
  <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=66d5a2ea2d491c00194a1d61&product=sticky-share-buttons&source=platform" async="async"></script>
  
  <!-- ShareThis Sticky Social Buttons BEGIN -->
   <div class="sharethis-sticky-share-buttons"></div>
  <!-- ShareThis END -->

  <!-- <a href="https://opeyemitech.pro"><img src="https://readme-typing-svg.demolab.com?font=roboto&duration=3000&pause=500&width=435&lines=Welcome+to+my+Project+Portfolio+" alt="Typing SVG" /></a> -->

 
  
  <a href="https://www.linkedin.com/in/opeyemi-okuboyejo/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:24px"></i></a>
  
  
  
  <a href="https://www.linkedin.com/in/opeyemi-okuboyejo/" target="_blank"><img src="./assets/images/linkedin_icon 48x48.png" width="48" height="48"></a>
  
  {% endblock %}

