{% extends "base.html" %}

{% block announce %}
  <!-- Add announcement here, including arbitrary HTML -->
  <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=66d5a2ea2d491c00194a1d61&product=sticky-share-buttons&source=platform" async="async"></script>
  
  <!-- ShareThis Sticky Social Buttons BEGIN -->
   <div class="sharethis-sticky-share-buttons"></div>
  <!-- ShareThis END -->

  <!-- <a href="https://opeyemitech.pro"><img src="https://readme-typing-svg.demolab.com?font=roboto&duration=3000&pause=500&width=435&lines=Welcome+to+my+Project+Portfolio+" alt="Typing SVG" /></a> -->

  <!DOCTYPE html>
  <html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
  
  
  <a href="https://www.linkedin.com/in/opeyemi-okuboyejo/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:24px"></i></a>
  
  
  
  <a href="https://www.linkedin.com/in/opeyemi-okuboyejo/" target="_blank"><i style="font-size:24px" class="fa">&#xf08c;</i></a>
  
  </body>
  </html>
  {% endblock %}

